*{
    box-sizing: border-box;
    font-family: 100%;
    color: gray;
}

body{
    padding: 2%;
}

p{
    text-align: justify;
}

.uno{
    border: 2px solid blue;
    float: left;
    margin-right: 1%;
    width: 24%;
    height: 500px;
    padding: 1%;
}

.dos{
    border: 2px solid red;
    float: left;
    width:75%;
    height: 500px;
    padding: 1%;
}
