body{
    padding: 2%;
}

*{
    text-align: center;
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: normal;
    text-transform:uppercase;
}

.col2, .col8{
    height: 400px;
}

.col1{width: 8.33%;}
.col2{width: 16.66%;}
.col3{width: 25%;}
.col4{width: 33.32%;}
.col5{width: 41.65%;}
.col6{width: 50%;}
.col7{width: 58.31%;}
.col8{width: 66.64%;}
.col9{width: 75%;}
.col10{width: 83.3%;}
.col11{width: 91.63%;}
.col12{width: 100%;}

[class*="col"]{
    float: left;
    box-sizing: border-box;
    border: 1px dotted gray;
}

